/*
 * skt.shell.css
 * シェルスタイル
 */
.skt-shell-head, .skt-shell-head-acct,
.skt-shell-main, .skt-shell-main-content
{
  position: absolute;
}

.skt-shell-head {
  top    : 0;
  left   : 0;
  right  : 0;
  height : 40px;
}

.skt-shell-head-acct {
  top    : 4px;
  left   : 4px;
  width  : 64px;
  height : 32px;
  background : green;
}

.skt-shell-main {
  top    : 40px;
  left   : 0;
  bottom : 40px;
  right  : 0;
}

.skt-shell-main-content {
  top    : 0;
  left   : 250px;
  bottom : 0;
  right  : 0;
  background : #eee;
}
