/*
 * skt.css
 * ルート名前空間スタイル
 */

/* リセット開始 */
 * {
   margin : 0;
   padding : 0;
   box-sizing : border-box;
 }
 h1, h2, h3, h4, h5, h6, p { margin : 10px; }
 ol, ul, dl {list-style-position : inside;}
 /* リセット終了 */
 
