@charset "utf-8";

body {
  font-family: sans-serif;
  color: MidnightBlue;
  background-color: #C6FF8E;
}

h1 {
  font-size: 30px;
  background-color: pink;

}
h2 {
  font-size:  18px;
  color: white;
  background-color: green;
}
p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 300px;
  margin-right: 250px;
}

.box1{width: 500px; border: solid 3px #000;}
#lifegame_canvas{
  background-color: white;

}


/* 何かの修正 */
