@charset "utf-8";

body {
  font-family: sans-serif;
  color: MidnightBlue;
  background-color: DarkTurquoise;
}

h1 {
  font-size: 21px;
}
h2 {
  font-size:  18px;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}

.box1{width: 500px; border: solid 3px #000;}
